In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
circuits = pd.read_csv('data/circuits.csv')
constructors = pd.read_csv('data/constructors.csv')
drivers =  pd.read_csv('data/drivers.csv')

In [3]:
constructors.head()

,constructorId,url,name,nationality
0,adams,http://en.wikipedia.org/wiki/Adams_(constructor),Adams,American
1,afm,http://en.wikipedia.org/wiki/Alex_von_Falkenha...,AFM,German
2,ags,http://en.wikipedia.org/wiki/Automobiles_Gonfa...,AGS,French
3,alfa,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Alfa Romeo,Swiss
4,alphatauri,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,AlphaTauri,Italian

In [4]:
drivers.head()

,driverId,url,givenName,familyName,dateOfBirth,nationality,permanentNumber,code
0,abate,http://en.wikipedia.org/wiki/Carlo_Mario_Abate,Carlo,Abate,1932-07-10,Italian,NaN,NaN
1,abecassis,http://en.wikipedia.org/wiki/George_Abecassis,George,Abecassis,1913-03-21,British,NaN,NaN
2,acheson,http://en.wikipedia.org/wiki/Kenny_Acheson,Kenny,Acheson,1957-11-27,British,NaN,NaN
3,adams,http://en.wikipedia.org/wiki/Philippe_Adams,Philippe,Adams,1969-11-19,Belgian,NaN,NaN
4,ader,http://en.wikipedia.org/wiki/Walt_Ader,Walt,Ader,1913-12-15,American,NaN,NaN

In [5]:
constructors.dtypes

constructorId    object
url              object
name             object
nationality      object
dtype: object

## circuits dim table

In [6]:
circuits.head()

,circuitId,url,circuitName,Location
0,adelaide,http://en.wikipedia.org/wiki/Adelaide_Street_C...,Adelaide Street Circuit,"{'lat': '-34.9272', 'long': '138.617', 'locali..."
1,ain-diab,http://en.wikipedia.org/wiki/Ain-Diab_Circuit,Ain Diab,"{'lat': '33.5786', 'long': '-7.6875', 'localit..."
2,aintree,http://en.wikipedia.org/wiki/Aintree_Motor_Rac...,Aintree,"{'lat': '53.4769', 'long': '-2.94056', 'locali..."
3,albert_park,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,Albert Park Grand Prix Circuit,"{'lat': '-37.8497', 'long': '144.968', 'locali..."
4,americas,http://en.wikipedia.org/wiki/Circuit_of_the_Am...,Circuit of the Americas,"{'lat': '30.1328', 'long': '-97.6411', 'locali..."

In [7]:
circuits["Location"] = circuits["Location"].apply(lambda x: json.loads(x.replace('\'', '\"')) if isinstance(x, str) else x)
circuitLocation  = pd.json_normalize(circuits['Location'])

In [8]:
circuits = pd.concat([circuits, circuitLocation], axis='columns')
circuits = circuits.drop('Location', axis='columns')
circuits.head()

,circuitId,url,circuitName,lat,long,locality,country
0,adelaide,http://en.wikipedia.org/wiki/Adelaide_Street_C...,Adelaide Street Circuit,-34.9272,138.617,Adelaide,Australia
1,ain-diab,http://en.wikipedia.org/wiki/Ain-Diab_Circuit,Ain Diab,33.5786,-7.6875,Casablanca,Morocco
2,aintree,http://en.wikipedia.org/wiki/Aintree_Motor_Rac...,Aintree,53.4769,-2.94056,Liverpool,UK
3,albert_park,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia
4,americas,http://en.wikipedia.org/wiki/Circuit_of_the_Am...,Circuit of the Americas,30.1328,-97.6411,Austin,USA

In [9]:
circuits.isna().sum()

circuitId      0
url            0
circuitName    0
lat            0
long           0
locality       0
country        0
dtype: int64

In [10]:
circuits['lat'] = circuits['lat'].astype('float32')
circuits['long'] =  circuits['long'].astype('float32')

In [11]:
circuits.dtypes

circuitId       object
url             object
circuitName     object
lat            float32
long           float32
locality        object
country         object
dtype: object

In [12]:
circuits.head()

,circuitId,url,circuitName,lat,long,locality,country
0,adelaide,http://en.wikipedia.org/wiki/Adelaide_Street_C...,Adelaide Street Circuit,-34.927200,138.617004,Adelaide,Australia
1,ain-diab,http://en.wikipedia.org/wiki/Ain-Diab_Circuit,Ain Diab,33.578602,-7.687500,Casablanca,Morocco
2,aintree,http://en.wikipedia.org/wiki/Aintree_Motor_Rac...,Aintree,53.476898,-2.940560,Liverpool,UK
3,albert_park,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,Albert Park Grand Prix Circuit,-37.849701,144.968002,Melbourne,Australia
4,americas,http://en.wikipedia.org/wiki/Circuit_of_the_Am...,Circuit of the Americas,30.132799,-97.641098,Austin,USA

## constructors dim table

In [13]:
constructors.head()

,constructorId,url,name,nationality
0,adams,http://en.wikipedia.org/wiki/Adams_(constructor),Adams,American
1,afm,http://en.wikipedia.org/wiki/Alex_von_Falkenha...,AFM,German
2,ags,http://en.wikipedia.org/wiki/Automobiles_Gonfa...,AGS,French
3,alfa,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Alfa Romeo,Swiss
4,alphatauri,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri,AlphaTauri,Italian

In [14]:
constructors.isna().sum()

constructorId    0
url              0
name             0
nationality      0
dtype: int64

In [15]:
constructors.dtypes

constructorId    object
url              object
name             object
nationality      object
dtype: object

In [16]:
constructors.constructorId.nunique() == constructors.shape[0]

True

## drivers dim table

In [17]:
drivers.isna().sum()

driverId             0
url                  0
givenName            0
familyName           0
dateOfBirth          0
nationality          0
permanentNumber    803
code               757
dtype: int64

In [18]:
drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   driverId         857 non-null    object
 1   url              857 non-null    object
 2   givenName        857 non-null    object
 3   familyName       857 non-null    object
 4   dateOfBirth      857 non-null    object
 5   nationality      857 non-null    object
 6   permanentNumber  54 non-null     float64
 7   code             100 non-null    object
dtypes: float64(1), object(7)
memory usage: 53.7+ KB

In [19]:
drivers['dateOfBirth'] = pd.to_datetime(drivers['dateOfBirth'], infer_datetime_format=True)

In [20]:
drivers.head()

,driverId,url,givenName,familyName,dateOfBirth,nationality,permanentNumber,code
0,abate,http://en.wikipedia.org/wiki/Carlo_Mario_Abate,Carlo,Abate,1932-07-10,Italian,NaN,NaN
1,abecassis,http://en.wikipedia.org/wiki/George_Abecassis,George,Abecassis,1913-03-21,British,NaN,NaN
2,acheson,http://en.wikipedia.org/wiki/Kenny_Acheson,Kenny,Acheson,1957-11-27,British,NaN,NaN
3,adams,http://en.wikipedia.org/wiki/Philippe_Adams,Philippe,Adams,1969-11-19,Belgian,NaN,NaN
4,ader,http://en.wikipedia.org/wiki/Walt_Ader,Walt,Ader,1913-12-15,American,NaN,NaN

In [21]:
# do all drivers have a unique id
drivers.driverId.nunique() == drivers.shape[0]

True

In [22]:
drivers[drivers.driverId != drivers.familyName.map(lambda x: x.lower())]

,driverId,url,givenName,familyName,dateOfBirth,nationality,permanentNumber,code
19,george_amick,http://en.wikipedia.org/wiki/George_Amick,George,Amick,1924-10-24,American,NaN,NaN
24,mario_andretti,http://en.wikipedia.org/wiki/Mario_Andretti,Mario,Andretti,1940-02-28,American,NaN,NaN
48,john_barber,http://en.wikipedia.org/wiki/John_Barber_(raci...,John,Barber,1929-07-22,British,NaN,NaN
63,belso,http://en.wikipedia.org/wiki/Tom_Bels%C3%B8,Tom,Belsø,1942-08-27,Danish,NaN,NaN
68,georges_berger,http://en.wikipedia.org/wiki/Georges_Berger,Georges,Berger,1918-09-14,Belgian,NaN,NaN
...,...,...,...,...,...,...,...,...
841,vic_wilson,http://en.wikipedia.org/wiki/Vic_Wilson_(motor...,Vic,Wilson,1931-04-14,British,NaN,NaN
842,dempsey_wilson,http://en.wikipedia.org/wiki/Dempsey_Wilson,Dempsey,Wilson,1927-03-11,American,NaN,NaN
843,markus_winkelhock,http://en.wikipedia.org/wiki/Markus_Winkelhock,Markus,Winkelhock,1980-06-13,German,NaN,WIN
844,joachim_winkelhock,http://en.wikipedia.org/wiki/Joachim_Winkelhock,Joachim,Winkelhock,1960-10-24,German,NaN,NaN
845,manfred_winkelhock,http://en.wikipedia.org/wiki/Manfred_Winkelhock,Manfred,Winkelhock,1951-10-06,German,NaN,NaN

In [23]:
drivers.code.unique()

array([nan, 'AIT', 'ALB', 'ALG', 'ALO', 'BAD', 'BAR', 'BIA', 'BOT', 'BOU',
       'BUE', 'BUT', 'CHA', 'CHI', 'COU', 'DAM', 'DAV', 'DLR', 'DEV',
       'DIG', 'DIR', 'DOO', 'ERI', 'FIS', 'FIT', 'FRI', 'GAS', 'GIO',
       'GLO', 'GRO', 'GUT', 'HAM', 'HAR', 'HEI', 'HUL', 'IDE', 'KAR',
       'KLI', 'KOB', 'KOV', 'KUB', 'KVY', 'LAT', 'LEC', 'LIU', 'LOT',
       'MAG', 'MAL', 'MAS', 'MAZ', 'MER', 'FMO', 'TMO', 'NAK', 'NAS',
       'NOR', 'OCO', 'MON', 'PAL', 'PER', 'PET', 'PIA', 'PIC', 'PIQ',
       'PIZ', 'RAI', 'RIC', 'ROS', 'RSS', 'RUS', 'SAI', 'SAR', 'SAT',
       'MSC', 'SCH', 'SEN', 'SIR', 'SPE', 'STE', 'STR', 'SUT', 'TRU',
       'TSU', 'VDG', 'VAN', 'VER', 'VET', 'VIL', 'WEB', 'WEH', 'WIN',
       'WUR', 'YAM', 'ZHO', 'ZON'], dtype=object)

In [24]:
drivers.shape

(857, 8)

In [25]:
drivers[~drivers.code.isna()]['code'].unique().size

94

In [26]:
drive_code = drivers[['code']].groupby(['code'])['code'].count().sort_values(ascending=False).reset_index(name='Count')
drive_code = drive_code[drive_code['Count'] > 1]
# drive_code.head()

shared_drive_code =  pd.merge(drive_code, drivers, how='left', on='code')
shared_drive_code

,code,Count,driverId,url,givenName,familyName,dateOfBirth,nationality,permanentNumber
0,ALB,2,albers,http://en.wikipedia.org/wiki/Christijan_Albers,Christijan,Albers,1979-04-16,Dutch,NaN
1,ALB,2,albon,http://en.wikipedia.org/wiki/Alexander_Albon,Alexander,Albon,1996-03-23,Thai,23.0
2,MAG,2,kevin_magnussen,http://en.wikipedia.org/wiki/Kevin_Magnussen,Kevin,Magnussen,1992-10-05,Danish,20.0
3,MAG,2,magnussen,http://en.wikipedia.org/wiki/Jan_Magnussen,Jan,Magnussen,1973-07-04,Danish,NaN
4,MSC,2,mick_schumacher,http://en.wikipedia.org/wiki/Mick_Schumacher,Mick,Schumacher,1999-03-22,German,47.0
5,MSC,2,michael_schumacher,http://en.wikipedia.org/wiki/Michael_Schumacher,Michael,Schumacher,1969-01-03,German,NaN
6,BIA,2,bianchi,http://en.wikipedia.org/wiki/Lucien_Bianchi,Lucien,Bianchi,1934-11-10,Belgian,NaN
7,BIA,2,jules_bianchi,http://en.wikipedia.org/wiki/Jules_Bianchi,Jules,Bianchi,1989-08-03,French,17.0
8,HAR,2,brendon_hartley,http://en.wikipedia.org/wiki/Brendon_Hartley,Brendon,Hartley,1989-11-10,New Zealander,28.0
9,HAR,2,haryanto,http://en.wikipedia.org/wiki/Rio_Haryanto,Rio,Haryanto,1993-01-22,Indonesian,88.0
10,VER,2,vergne,http://en.wikipedia.org/wiki/Jean-%C3%89ric_Ve...,Jean-Éric,Vergne,1990-04-25,French,25.0
11,VER,2,max_verstappen,http://en.wikipedia.org/wiki/Max_Verstappen,Max,Verstappen,1997-09-30,Dutch,33.0

In [27]:
drivers[['code']].nunique()

code    94
dtype: int64

## seasons

In [28]:
f1_seasons = pd.read_csv("data/f1_schedule.csv")

In [29]:
f1_seasons.tail(3)

,season,round,url,raceName,Circuit,date,time,FirstPractice,SecondPractice,ThirdPractice,Qualifying,Sprint
1076,2022,20,http://en.wikipedia.org/wiki/2022_Mexican_Gran...,Mexico City Grand Prix,"{'circuitId': 'rodriguez', 'url': 'http://en.w...",2022-10-30,20:00:00Z,"{'date': '2022-10-28', 'time': '18:00:00Z'}","{'date': '2022-10-28', 'time': '21:00:00Z'}","{'date': '2022-10-29', 'time': '17:00:00Z'}","{'date': '2022-10-29', 'time': '20:00:00Z'}",NaN
1077,2022,21,http://en.wikipedia.org/wiki/2022_Brazilian_Gr...,Brazilian Grand Prix,"{'circuitId': 'interlagos', 'url': 'http://en....",2022-11-13,18:00:00Z,"{'date': '2022-11-11', 'time': '15:30:00Z'}","{'date': '2022-11-12', 'time': '15:30:00Z'}",NaN,"{'date': '2022-11-11', 'time': '19:00:00Z'}","{'date': '2022-11-12', 'time': '19:30:00Z'}"
1078,2022,22,http://en.wikipedia.org/wiki/2022_Abu_Dhabi_Gr...,Abu Dhabi Grand Prix,"{'circuitId': 'yas_marina', 'url': 'http://en....",2022-11-20,13:00:00Z,"{'date': '2022-11-18', 'time': '10:00:00Z'}","{'date': '2022-11-18', 'time': '13:00:00Z'}","{'date': '2022-11-19', 'time': '11:00:00Z'}","{'date': '2022-11-19', 'time': '14:00:00Z'}",NaN

In [30]:
f1_seasons.head(2)

,season,round,url,raceName,Circuit,date,time,FirstPractice,SecondPractice,ThirdPractice,Qualifying,Sprint
0,1950,1,http://en.wikipedia.org/wiki/1950_British_Gran...,British Grand Prix,"{'circuitId': 'silverstone', 'url': 'http://en...",1950-05-13,NaN,NaN,NaN,NaN,NaN,NaN
1,1950,2,http://en.wikipedia.org/wiki/1950_Monaco_Grand...,Monaco Grand Prix,"{'circuitId': 'monaco', 'url': 'http://en.wiki...",1950-05-21,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# extract circuitId only from the Circuit dictionary 
f1_seasons['circuitId'] = f1_seasons['Circuit'].map(lambda x: json.loads(x.replace('\'', "\""))['circuitId'] )
# f1_seasons['circuitId'] = f1_seasons['Circuit'].map(lambda x: json.loads(x.replace('\'', "\""))['circuitId'] )
f1_seasons = f1_seasons.drop(['Circuit'], axis='columns')

f1_seasons.head()
# circuit_id = "".join(filter(str.isalnum, circuit_id))

# print('monaco')

,season,round,url,raceName,date,time,FirstPractice,SecondPractice,ThirdPractice,Qualifying,Sprint,circuitId
0,1950,1,http://en.wikipedia.org/wiki/1950_British_Gran...,British Grand Prix,1950-05-13,NaN,NaN,NaN,NaN,NaN,NaN,silverstone
1,1950,2,http://en.wikipedia.org/wiki/1950_Monaco_Grand...,Monaco Grand Prix,1950-05-21,NaN,NaN,NaN,NaN,NaN,NaN,monaco
2,1950,3,http://en.wikipedia.org/wiki/1950_Indianapolis...,Indianapolis 500,1950-05-30,NaN,NaN,NaN,NaN,NaN,NaN,indianapolis
3,1950,4,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...,Swiss Grand Prix,1950-06-04,NaN,NaN,NaN,NaN,NaN,NaN,bremgarten
4,1950,5,http://en.wikipedia.org/wiki/1950_Belgian_Gran...,Belgian Grand Prix,1950-06-18,NaN,NaN,NaN,NaN,NaN,NaN,spa

In [32]:
# checking First, second and third and qualifying, time
# usinf domain knowlegde: races with sprints do not have q3
f1_seasons[~f1_seasons[['FirstPractice', 'SecondPractice', 'ThirdPractice', 'Qualifying']].isna().any(axis='columns')].head()

,season,round,url,raceName,date,time,FirstPractice,SecondPractice,ThirdPractice,Qualifying,Sprint,circuitId
1035,2021,1,http://en.wikipedia.org/wiki/2021_Bahrain_Gran...,Bahrain Grand Prix,2021-03-28,15:00:00Z,{'date': '2021-03-26'},{'date': '2021-03-26'},{'date': '2021-03-27'},{'date': '2021-03-27'},NaN,bahrain
1036,2021,2,http://en.wikipedia.org/wiki/2021_Emilia_Romag...,Emilia Romagna Grand Prix,2021-04-18,13:00:00Z,{'date': '2021-04-16'},{'date': '2021-04-16'},{'date': '2021-04-17'},{'date': '2021-04-17'},NaN,imola
1037,2021,3,http://en.wikipedia.org/wiki/2021_Portuguese_G...,Portuguese Grand Prix,2021-05-02,14:00:00Z,{'date': '2021-04-30'},{'date': '2021-04-30'},{'date': '2021-05-01'},{'date': '2021-05-01'},NaN,portimao
1038,2021,4,http://en.wikipedia.org/wiki/2021_Spanish_Gran...,Spanish Grand Prix,2021-05-09,13:00:00Z,{'date': '2021-05-07'},{'date': '2021-05-07'},{'date': '2021-05-08'},{'date': '2021-05-08'},NaN,catalunya
1039,2021,5,http://en.wikipedia.org/wiki/2021_Monaco_Grand...,Monaco Grand Prix,2021-05-23,13:00:00Z,{'date': '2021-05-21'},{'date': '2021-05-21'},{'date': '2021-05-22'},{'date': '2021-05-22'},NaN,monaco

In [33]:
f1_seasons[~f1_seasons[['FirstPractice']].isna().any(axis='columns')].head()

,season,round,url,raceName,date,time,FirstPractice,SecondPractice,ThirdPractice,Qualifying,Sprint,circuitId
1035,2021,1,http://en.wikipedia.org/wiki/2021_Bahrain_Gran...,Bahrain Grand Prix,2021-03-28,15:00:00Z,{'date': '2021-03-26'},{'date': '2021-03-26'},{'date': '2021-03-27'},{'date': '2021-03-27'},NaN,bahrain
1036,2021,2,http://en.wikipedia.org/wiki/2021_Emilia_Romag...,Emilia Romagna Grand Prix,2021-04-18,13:00:00Z,{'date': '2021-04-16'},{'date': '2021-04-16'},{'date': '2021-04-17'},{'date': '2021-04-17'},NaN,imola
1037,2021,3,http://en.wikipedia.org/wiki/2021_Portuguese_G...,Portuguese Grand Prix,2021-05-02,14:00:00Z,{'date': '2021-04-30'},{'date': '2021-04-30'},{'date': '2021-05-01'},{'date': '2021-05-01'},NaN,portimao
1038,2021,4,http://en.wikipedia.org/wiki/2021_Spanish_Gran...,Spanish Grand Prix,2021-05-09,13:00:00Z,{'date': '2021-05-07'},{'date': '2021-05-07'},{'date': '2021-05-08'},{'date': '2021-05-08'},NaN,catalunya
1039,2021,5,http://en.wikipedia.org/wiki/2021_Monaco_Grand...,Monaco Grand Prix,2021-05-23,13:00:00Z,{'date': '2021-05-21'},{'date': '2021-05-21'},{'date': '2021-05-22'},{'date': '2021-05-22'},NaN,monaco

In [34]:
f1_seasons.shape

(1079, 12)

In [35]:
to_edit = f1_seasons[['FirstPractice', 'SecondPractice', 'ThirdPractice', 'Qualifying', 'Sprint']]

cols = ['FirstPractice', 'SecondPractice', 'ThirdPractice', 'Qualifying', 'Sprint']

def convert_to_dict(x):
    return json.loads(x.replace('\'', '\"')) if pd.notna(x) else x

for col in cols:
    to_edit[col] = to_edit[col].map(convert_to_dict)
    # to_edit = pd.concat([to_edit, to_edit[col].apply(pd.Series)], axis='columns')
    to_edit = pd.concat([to_edit.reset_index(drop=True), pd.json_normalize(to_edit[col]).reset_index(drop=True)], axis='columns')


# fp1 = to_edit
# print(fp1.shape)
# print(to_edit.index)

to_edit = to_edit.drop(cols, axis='columns')
to_edit.columns = ['fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'qualifying_date', 'qualifying_time', 'sprint_date', 'sprint_time']
f1_seasons = f1_seasons.drop(cols, axis='columns')
f1_seasons = pd.concat([f1_seasons.reset_index(drop=True), to_edit.reset_index(drop=True)], axis='columns')
# f1_seasons.head()
print(f1_seasons.shape)
# fp1.shape
# to_edit = to_edit.apply(convert_to_dict)
# to_edit[~to_edit['FirstPractice'].isna()].head()

# (to_edit.FirstPractice.to_dict()[1036])
# print(type((to_edit.FirstPractice[0])))
# print(type((to_edit.SecondPractice[1037])))
# fp1 =

(1079, 17)

/var/folders/8k/9765ryxn4bbf2fqq89b6wxb00000gn/T/ipykernel_64385/2902089769.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  to_edit[col] = to_edit[col].map(convert_to_dict)

In [36]:
f1_seasons.dtypes

season              int64
round               int64
url                object
raceName           object
date               object
time               object
circuitId          object
fp1_date           object
fp1_time           object
fp2_date           object
fp2_time           object
fp3_date           object
fp3_time           object
qualifying_date    object
qualifying_time    object
sprint_date        object
sprint_time        object
dtype: object

In [37]:
f1_seasons.columns

Index(['season', 'round', 'url', 'raceName', 'date', 'time', 'circuitId',
       'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time',
       'qualifying_date', 'qualifying_time', 'sprint_date', 'sprint_time'],
      dtype='object')

In [38]:
f1_seasons[~f1_seasons['sprint_date'].isna()].head()

,season,round,url,raceName,date,time,circuitId,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,qualifying_date,qualifying_time,sprint_date,sprint_time
1044,2021,10,http://en.wikipedia.org/wiki/2021_British_Gran...,British Grand Prix,2021-07-18,14:00:00Z,silverstone,2021-07-16,NaN,2021-07-17,NaN,NaN,NaN,2021-07-16,NaN,2021-07-17,NaN
1048,2021,14,http://en.wikipedia.org/wiki/2021_Italian_Gran...,Italian Grand Prix,2021-09-12,13:00:00Z,monza,2021-09-10,NaN,2021-09-11,NaN,NaN,NaN,2021-09-10,NaN,2021-09-11,NaN
1053,2021,19,http://en.wikipedia.org/wiki/2021_S%C3%A3o_Pau...,São Paulo Grand Prix,2021-11-14,17:00:00Z,interlagos,2021-11-12,NaN,2021-11-13,NaN,NaN,NaN,2021-11-12,NaN,2021-11-13,NaN
1060,2022,4,http://en.wikipedia.org/wiki/2022_Emilia_Romag...,Emilia Romagna Grand Prix,2022-04-24,13:00:00Z,imola,2022-04-22,11:30:00Z,2022-04-23,10:30:00Z,NaN,NaN,2022-04-22,15:00:00Z,2022-04-23,14:30:00Z
1067,2022,11,http://en.wikipedia.org/wiki/2022_Austrian_Gra...,Austrian Grand Prix,2022-07-10,13:00:00Z,red_bull_ring,2022-07-08,11:30:00Z,2022-07-09,10:30:00Z,NaN,NaN,2022-07-08,15:00:00Z,2022-07-09,14:30:00Z

In [39]:
# convert and clean time related columns
date_cols = ['date', 'time', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 
             'fp3_time', 'qualifying_date', 'qualifying_time', 'sprint_date', 'sprint_time']

for col in date_cols:
    if 'date' in col:
        f1_seasons[col] = pd.to_datetime(f1_seasons[col], infer_datetime_format=True)
    else:
        f1_seasons[col] = pd.to_datetime(f1_seasons[col], format="%H:%M:%SZ").dt.time

In [40]:
f1_seasons.dtypes

season                      int64
round                       int64
url                        object
raceName                   object
date               datetime64[ns]
time                       object
circuitId                  object
fp1_date           datetime64[ns]
fp1_time                   object
fp2_date           datetime64[ns]
fp2_time                   object
fp3_date           datetime64[ns]
fp3_time                   object
qualifying_date    datetime64[ns]
qualifying_time            object
sprint_date        datetime64[ns]
sprint_time                object
dtype: object

In [41]:
f1_seasons[~f1_seasons['sprint_date'].isna()].head()

,season,round,url,raceName,date,time,circuitId,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,qualifying_date,qualifying_time,sprint_date,sprint_time
1044,2021,10,http://en.wikipedia.org/wiki/2021_British_Gran...,British Grand Prix,2021-07-18,14:00:00,silverstone,2021-07-16,NaT,2021-07-17,NaT,NaT,NaT,2021-07-16,NaT,2021-07-17,NaT
1048,2021,14,http://en.wikipedia.org/wiki/2021_Italian_Gran...,Italian Grand Prix,2021-09-12,13:00:00,monza,2021-09-10,NaT,2021-09-11,NaT,NaT,NaT,2021-09-10,NaT,2021-09-11,NaT
1053,2021,19,http://en.wikipedia.org/wiki/2021_S%C3%A3o_Pau...,São Paulo Grand Prix,2021-11-14,17:00:00,interlagos,2021-11-12,NaT,2021-11-13,NaT,NaT,NaT,2021-11-12,NaT,2021-11-13,NaT
1060,2022,4,http://en.wikipedia.org/wiki/2022_Emilia_Romag...,Emilia Romagna Grand Prix,2022-04-24,13:00:00,imola,2022-04-22,11:30:00,2022-04-23,10:30:00,NaT,NaT,2022-04-22,15:00:00,2022-04-23,14:30:00
1067,2022,11,http://en.wikipedia.org/wiki/2022_Austrian_Gra...,Austrian Grand Prix,2022-07-10,13:00:00,red_bull_ring,2022-07-08,11:30:00,2022-07-09,10:30:00,NaT,NaT,2022-07-08,15:00:00,2022-07-09,14:30:00

## historical results

In [42]:
hist_results = pd.read_csv("data/historical_f1_race_results.csv")
hist_results.shape

(1079, 9)

In [43]:
hist_results.columns

Index(['Unnamed: 0', 'season', 'round', 'url', 'raceName', 'Circuit', 'date',
       'Results', 'time'],
      dtype='object')

In [44]:
f1_race_hist = hist_results[['season', 'round', 'url', 'raceName', 'Circuit', 'date', 'Results', 'time']]
f1_race_hist.head()

,season,round,url,raceName,Circuit,date,Results,time
0,1950,1,http://en.wikipedia.org/wiki/1950_British_Gran...,British Grand Prix,"{'circuitId': 'silverstone', 'url': 'http://en...",1950-05-13,"[{'number': '2', 'position': '1', 'positionTex...",NaN
1,1950,2,http://en.wikipedia.org/wiki/1950_Monaco_Grand...,Monaco Grand Prix,"{'circuitId': 'monaco', 'url': 'http://en.wiki...",1950-05-21,"[{'number': '34', 'position': '1', 'positionTe...",NaN
2,1950,3,http://en.wikipedia.org/wiki/1950_Indianapolis...,Indianapolis 500,"{'circuitId': 'indianapolis', 'url': 'http://e...",1950-05-30,"[{'number': '1', 'position': '1', 'positionTex...",NaN
3,1950,4,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...,Swiss Grand Prix,"{'circuitId': 'bremgarten', 'url': 'http://en....",1950-06-04,"[{'number': '16', 'position': '1', 'positionTe...",NaN
4,1950,5,http://en.wikipedia.org/wiki/1950_Belgian_Gran...,Belgian Grand Prix,"{'circuitId': 'spa', 'url': 'http://en.wikiped...",1950-06-18,"[{'number': '10', 'position': '1', 'positionTe...",NaN

In [45]:
# extract circuitId

f1_race_hist['circuitId'] = f1_race_hist['Circuit'].map(lambda x: json.loads(x.replace('\'', "\""))['circuitId'] )
f1_race_hist = f1_race_hist.drop(['Circuit'], axis='columns')

f1_race_hist.head(2)

,season,round,url,raceName,date,Results,time,circuitId
0,1950,1,http://en.wikipedia.org/wiki/1950_British_Gran...,British Grand Prix,1950-05-13,"[{'number': '2', 'position': '1', 'positionTex...",NaN,silverstone
1,1950,2,http://en.wikipedia.org/wiki/1950_Monaco_Grand...,Monaco Grand Prix,1950-05-21,"[{'number': '34', 'position': '1', 'positionTe...",NaN,monaco

In [46]:
import re
def convert_to_list(x):
    return json.loads(x.replace('\'','\"')) if pd.notna(x) else x


def convert_to_list(x):
    if pd.notna(x):
        string = x.replace('\'','\"')
        corrected_text = re.sub(r'(?<=[a-zA-Z])\"(?=[a-zA-Z])', '\'', string) # to fix names like O"Brien after replace ' with "
        out = json.loads(corrected_text) 
    else:
        out = x
    return out

In [47]:
f1_race_hist.shape

(1079, 8)

In [48]:
# troubleshooting

# count = 0
# indices = []
# # for i in range(0,f1_race_hist.shape[0]):
# for i in range(0,1079):
#     try:
#         type(convert_to_list(f1_race_hist['Results'][i]))
#         if type(convert_to_list(f1_race_hist['Results'][i])) != list:
#             print(type(convert_to_list(f1_race_hist['Results'][i])))
#         count += 1
#     except Exception as e:
#         indices.append(count)
#         print(f"current index: {count}; exception: {e}")
#         count += 1

# print(f"final count: {count}")
# print(indices)

In [49]:
#  troubleshooting

# index = 17
# row = (f1_race_hist.iloc[index:index+1, :]['Results'][index])
# # row = (f1_race_hist.iloc[index:index+1, :]['Results'])
# # type(row)
# convert_to_list(str(row))

In [50]:
# troubleshooting

# index = 17

# # print(type(f1_race_hist.iloc[index:index+1, :]))
# # print(f1_race_hist.iloc[index:index+1, :])
# result = f1_race_hist.iloc[index:index+1, :]['Results'][index]
# # print(type(f1_race_hist.iloc[index:index+1, :]['Results'][index]))
# # type(convert_to_list(result))

In [51]:
f1_race_hist['Results'] = f1_race_hist['Results'].map(convert_to_list)
f1_race_hist.head()

,season,round,url,raceName,date,Results,time,circuitId
0,1950,1,http://en.wikipedia.org/wiki/1950_British_Gran...,British Grand Prix,1950-05-13,"[{'number': '2', 'position': '1', 'positionTex...",NaN,silverstone
1,1950,2,http://en.wikipedia.org/wiki/1950_Monaco_Grand...,Monaco Grand Prix,1950-05-21,"[{'number': '34', 'position': '1', 'positionTe...",NaN,monaco
2,1950,3,http://en.wikipedia.org/wiki/1950_Indianapolis...,Indianapolis 500,1950-05-30,"[{'number': '1', 'position': '1', 'positionTex...",NaN,indianapolis
3,1950,4,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...,Swiss Grand Prix,1950-06-04,"[{'number': '16', 'position': '1', 'positionTe...",NaN,bremgarten
4,1950,5,http://en.wikipedia.org/wiki/1950_Belgian_Gran...,Belgian Grand Prix,1950-06-18,"[{'number': '10', 'position': '1', 'positionTe...",NaN,spa

In [52]:
f1_race_hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1079 entries, 0 to 1078
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   season     1079 non-null   int64
 1   round      1079 non-null   int64
 2   url        1079 non-null   object
 3   raceName   1079 non-null   object
 4   date       1079 non-null   object
 5   Results    1079 non-null   object
 6   time       348 non-null    object
 7   circuitId  1079 non-null   object
dtypes: int64(2), object(6)
memory usage: 67.6+ KB

In [53]:
# vertically explode results for each round
f1_race_hist = f1_race_hist.explode('Results')
f1_race_hist = f1_race_hist.reset_index(drop=True)
f1_race_hist.shape

(25387, 8)

In [54]:
f1_race_hist.head()

,season,round,url,raceName,date,Results,time,circuitId
0,1950,1,http://en.wikipedia.org/wiki/1950_British_Gran...,British Grand Prix,1950-05-13,"{'number': '2', 'position': '1', 'positionText...",NaN,silverstone
1,1950,1,http://en.wikipedia.org/wiki/1950_British_Gran...,British Grand Prix,1950-05-13,"{'number': '3', 'position': '2', 'positionText...",NaN,silverstone
2,1950,1,http://en.wikipedia.org/wiki/1950_British_Gran...,British Grand Prix,1950-05-13,"{'number': '4', 'position': '3', 'positionText...",NaN,silverstone
3,1950,1,http://en.wikipedia.org/wiki/1950_British_Gran...,British Grand Prix,1950-05-13,"{'number': '14', 'position': '4', 'positionTex...",NaN,silverstone
4,1950,1,http://en.wikipedia.org/wiki/1950_British_Gran...,British Grand Prix,1950-05-13,"{'number': '15', 'position': '5', 'positionTex...",NaN,silverstone

In [55]:
# test = f1_race_hist.reset_index(drop=True)
# test = test['Results'][0:3]
results_explode = pd.json_normalize(f1_race_hist['Results'], sep='_')

results_explode.shape
# drop driver details other than driverId 
# drop constructor details other than constructorId

(25387, 26)

In [56]:
(results_explode.columns.to_list())

['number',
 'position',
 'positionText',
 'points',
 'grid',
 'laps',
 'status',
 'Driver_driverId',
 'Driver_url',
 'Driver_givenName',
 'Driver_familyName',
 'Driver_dateOfBirth',
 'Driver_nationality',
 'Constructor_constructorId',
 'Constructor_url',
 'Constructor_name',
 'Constructor_nationality',
 'Time_millis',
 'Time_time',
 'Driver_code',
 'Driver_permanentNumber',
 'FastestLap_rank',
 'FastestLap_lap',
 'FastestLap_Time_time',
 'FastestLap_AverageSpeed_units',
 'FastestLap_AverageSpeed_speed']

In [57]:
new_columns = [column for column in results_explode.columns if not column.startswith(('Driver', 'Constructor')) or column.endswith('Id')]
print(len(new_columns))
print(new_columns)

16
['number', 'position', 'positionText', 'points', 'grid', 'laps', 'status', 'Driver_driverId', 'Constructor_constructorId', 'Time_millis', 'Time_time', 'FastestLap_rank', 'FastestLap_lap', 'FastestLap_Time_time', 'FastestLap_AverageSpeed_units', 'FastestLap_AverageSpeed_speed']

In [58]:
results_explode = results_explode[new_columns]
results_explode.head()

,number,position,positionText,points,grid,laps,status,Driver_driverId,Constructor_constructorId,Time_millis,Time_time,FastestLap_rank,FastestLap_lap,FastestLap_Time_time,FastestLap_AverageSpeed_units,FastestLap_AverageSpeed_speed
0,2,1,1,9,1,70,Finished,farina,alfa,8003600,2:13:23.6,NaN,NaN,NaN,NaN,NaN
1,3,2,2,6,2,70,Finished,fagioli,alfa,8006200,+2.6,NaN,NaN,NaN,NaN,NaN
2,4,3,3,4,4,70,Finished,reg_parnell,alfa,8055600,+52.0,NaN,NaN,NaN,NaN,NaN
3,14,4,4,3,6,68,+2 Laps,cabantous,lago,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15,5,5,2,9,68,+2 Laps,rosier,lago,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
results_explode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25387 entries, 0 to 25386
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   number                         25387 non-null  object
 1   position                       25387 non-null  object
 2   positionText                   25387 non-null  object
 3   points                         25387 non-null  object
 4   grid                           25387 non-null  object
 5   laps                           25387 non-null  object
 6   status                         25387 non-null  object
 7   Driver_driverId                25387 non-null  object
 8   Constructor_constructorId      25387 non-null  object
 9   Time_millis                    7088 non-null   object
 10  Time_time                      7088 non-null   object
 11  FastestLap_rank                7379 non-null   object
 12  FastestLap_lap                 7379 non-null   object
 13  FastestLap_Time_time           7379 non-null   object
 14  FastestLap_AverageSpeed_units  7379 non-null   object
 15  FastestLap_AverageSpeed_speed  7379 non-null   object
dtypes: object(16)
memory usage: 3.1+ MB

In [60]:
results_explode.shape

(25387, 16)

In [61]:
f1_race_hist = pd.concat([f1_race_hist.reset_index(drop=True), results_explode.reset_index(drop=True)], axis='columns')
f1_race_hist = f1_race_hist.drop(['Results'], axis='columns')
f1_race_hist.shape

(25387, 23)

In [62]:
f1_race_hist.head()

,season,round,url,raceName,date,time,circuitId,number,position,positionText,...,status,Driver_driverId,Constructor_constructorId,Time_millis,Time_time,FastestLap_rank,FastestLap_lap,FastestLap_Time_time,FastestLap_AverageSpeed_units,FastestLap_AverageSpeed_speed
0,1950,1,http://en.wikipedia.org/wiki/1950_British_Gran...,British Grand Prix,1950-05-13,NaN,silverstone,2,1,1,...,Finished,farina,alfa,8003600,2:13:23.6,NaN,NaN,NaN,NaN,NaN
1,1950,1,http://en.wikipedia.org/wiki/1950_British_Gran...,British Grand Prix,1950-05-13,NaN,silverstone,3,2,2,...,Finished,fagioli,alfa,8006200,+2.6,NaN,NaN,NaN,NaN,NaN
2,1950,1,http://en.wikipedia.org/wiki/1950_British_Gran...,British Grand Prix,1950-05-13,NaN,silverstone,4,3,3,...,Finished,reg_parnell,alfa,8055600,+52.0,NaN,NaN,NaN,NaN,NaN
3,1950,1,http://en.wikipedia.org/wiki/1950_British_Gran...,British Grand Prix,1950-05-13,NaN,silverstone,14,4,4,...,+2 Laps,cabantous,lago,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1950,1,http://en.wikipedia.org/wiki/1950_British_Gran...,British Grand Prix,1950-05-13,NaN,silverstone,15,5,5,...,+2 Laps,rosier,lago,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
f1_race_hist[(f1_race_hist['season'] == 2008)  & (f1_race_hist['round'] == 1)]

,season,round,url,raceName,date,time,circuitId,number,position,positionText,...,status,Driver_driverId,Constructor_constructorId,Time_millis,Time_time,FastestLap_rank,FastestLap_lap,FastestLap_Time_time,FastestLap_AverageSpeed_units,FastestLap_AverageSpeed_speed
19162,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,22,1,1,...,Finished,hamilton,mclaren,5690616,1:34:50.616,2,39,1:27.452,kph,218.300
19163,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,3,2,2,...,Finished,heidfeld,bmw_sauber,5696094,+5.478,3,41,1:27.739,kph,217.586
19164,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,7,3,3,...,Finished,rosberg,williams,5698779,+8.163,5,41,1:28.090,kph,216.719
19165,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,5,4,4,...,Finished,alonso,renault,5707797,+17.181,7,58,1:28.603,kph,215.464
19166,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,23,5,5,...,Finished,kovalainen,mclaren,5708630,+18.014,1,43,1:27.418,kph,218.385
19167,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,8,6,6,...,+1 Lap,nakajima,williams,NaN,NaN,14,50,1:29.639,kph,212.974
19168,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,14,7,7,...,Engine,bourdais,toro_rosso,NaN,NaN,12,22,1:29.534,kph,213.224
19169,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,1,8,8,...,Engine,raikkonen,ferrari,NaN,NaN,4,20,1:27.903,kph,217.180
19170,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,4,9,R,...,Collision,kubica,bmw_sauber,NaN,NaN,9,15,1:28.753,kph,215.100
19171,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,12,10,R,...,Accident,glock,toyota,NaN,NaN,13,23,1:29.558,kph,213.166
19172,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,18,11,R,...,Transmission,sato,super_aguri,NaN,NaN,15,24,1:30.892,kph,210.038
19173,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,6,12,R,...,Clutch,piquet_jr,renault,NaN,NaN,16,20,1:31.384,kph,208.907
19174,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,2,13,R,...,Engine,massa,ferrari,NaN,NaN,6,23,1:28.175,kph,216.510
19175,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,9,14,R,...,Collision,coulthard,red_bull,NaN,NaN,11,21,1:29.502,kph,213.300
19176,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,11,15,R,...,Electrical,trulli,toyota,NaN,NaN,10,18,1:29.310,kph,213.758
19177,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,20,16,R,...,Hydraulics,sutil,force_india,NaN,NaN,17,8,1:32.021,kph,207.461
19178,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,10,17,R,...,Collision,webber,red_bull,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19179,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,16,18,R,...,Collision,button,honda,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19180,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,19,19,R,...,Collision,davidson,super_aguri,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19181,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,15,20,R,...,Collision,vettel,toro_rosso,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19182,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,21,21,R,...,Collision,fisichella,force_india,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19183,2008,1,http://en.wikipedia.org/wiki/2008_Australian_G...,Australian Grand Prix,2008-03-16,04:30:00Z,albert_park,17,22,D,...,Disqualified,barrichello,honda,NaN,NaN,8,44,1:28.736,kph,215.141

In [64]:
f1_race_hist.dtypes

season                            int64
round                             int64
url                              object
raceName                         object
date                             object
time                             object
circuitId                        object
number                           object
position                         object
positionText                     object
points                           object
grid                             object
laps                             object
status                           object
Driver_driverId                  object
Constructor_constructorId        object
Time_millis                      object
Time_time                        object
FastestLap_rank                  object
FastestLap_lap                   object
FastestLap_Time_time             object
FastestLap_AverageSpeed_units    object
FastestLap_AverageSpeed_speed    object
dtype: object

In [65]:
# date - date format, clean up time column
# number, position, points, grid, laps, FastestLap_rank, FastestLap_lap - integer
# points, FastestLap_AverageSpeed_speed - float
# FastestLap_Time_time - time but in minutes

f1_race_hist['date'] = pd.to_datetime(f1_race_hist['date'], infer_datetime_format=True)
int_columns =  ['number', 'position', 'grid', 'laps', 'FastestLap_rank', 'FastestLap_lap', 'Time_millis']


# f1_race_hist[int_columns] = pd.to_numeric(f1_race_hist[int_columns], errors='coerce').astype('Int64') # didnt work, only take series, list
for c in int_columns:
    print(c)
    # to_numeric convert to float and empty strings to np.nan
    # Int64 allows nullable integers (np.nan) while int64 doesn't
    f1_race_hist[c] = pd.to_numeric(f1_race_hist[c], errors='coerce').astype('Int64')

f1_race_hist['FastestLap_AverageSpeed_speed'] = f1_race_hist['FastestLap_AverageSpeed_speed'].astype('float')
f1_race_hist['points'] = f1_race_hist['points'].astype('float')
f1_race_hist['time'] = pd.to_datetime(f1_race_hist['time'], format="%H:%M:%SZ").dt.time

f1_race_hist.dtypes

number
position
grid
laps
FastestLap_rank
FastestLap_lap

Time_millis

season                                    int64
round                                     int64
url                                      object
raceName                                 object
date                             datetime64[ns]
time                                     object
circuitId                                object
number                                    Int64
position                                  Int64
positionText                             object
points                                  float64
grid                                      Int64
laps                                      Int64
status                                   object
Driver_driverId                          object
Constructor_constructorId                object
Time_millis                               Int64
Time_time                                object
FastestLap_rank                           Int64
FastestLap_lap                            Int64
FastestLap_Time_time                     object
FastestLap_AverageSpeed_units            object
FastestLap_AverageSpeed_speed           float64
dtype: object

In [66]:
f1_race_hist[int_columns].isna().sum()

number                 6
position               0
grid                   0
laps                   0
FastestLap_rank    18008
FastestLap_lap     18008
Time_millis        18300
dtype: int64

In [67]:
f1_race_hist[~f1_race_hist['time'].isna()].head()

,season,round,url,raceName,date,time,circuitId,number,position,positionText,...,status,Driver_driverId,Constructor_constructorId,Time_millis,Time_time,FastestLap_rank,FastestLap_lap,FastestLap_Time_time,FastestLap_AverageSpeed_units,FastestLap_AverageSpeed_speed
18016,2005,1,http://en.wikipedia.org/wiki/2005_Australian_G...,Australian Grand Prix,2005-03-06,14:00:00,albert_park,6,1,1,...,Finished,fisichella,renault,5057336,1:24:17.336,2,55,1:25.994,kph,222.001
18017,2005,1,http://en.wikipedia.org/wiki/2005_Australian_G...,Australian Grand Prix,2005-03-06,14:00:00,albert_park,2,2,2,...,Finished,barrichello,ferrari,5062889,+5.553,3,54,1:26.233,kph,221.386
18018,2005,1,http://en.wikipedia.org/wiki/2005_Australian_G...,Australian Grand Prix,2005-03-06,14:00:00,albert_park,5,3,3,...,Finished,alonso,renault,5064048,+6.712,1,24,1:25.683,kph,222.807
18019,2005,1,http://en.wikipedia.org/wiki/2005_Australian_G...,Australian Grand Prix,2005-03-06,14:00:00,albert_park,14,4,4,...,Finished,coulthard,red_bull,5073467,+16.131,11,40,1:26.690,kph,220.219
18020,2005,1,http://en.wikipedia.org/wiki/2005_Australian_G...,Australian Grand Prix,2005-03-06,14:00:00,albert_park,7,5,5,...,Finished,webber,williams,5074244,+16.908,8,37,1:26.493,kph,220.720

# historical quali times

In [68]:
f1_qual_hist = pd.read_csv("data/historical_f1_quali_results.csv")

In [69]:
f1_qual_hist.head(2)

,Unnamed: 0,season,round,url,raceName,Circuit,date,QualifyingResults,time
0,0,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,"{'circuitId': 'albert_park', 'url': 'http://en...",2003-03-09,"[{'number': '1', 'position': '1', 'Driver': {'...",NaN
1,0,2003,2,http://en.wikipedia.org/wiki/2003_Malaysian_Gr...,Malaysian Grand Prix,"{'circuitId': 'sepang', 'url': 'http://en.wiki...",2003-03-23,"[{'number': '8', 'position': '1', 'Driver': {'...",NaN

In [70]:
f1_qual_hist.columns

Index(['Unnamed: 0', 'season', 'round', 'url', 'raceName', 'Circuit', 'date',
       'QualifyingResults', 'time'],
      dtype='object')

In [71]:
f1_qual_hist = f1_qual_hist[['season', 'round', 'url', 'raceName', 'Circuit', 'date', 'QualifyingResults', 'time']]
f1_qual_hist.head(2)

,season,round,url,raceName,Circuit,date,QualifyingResults,time
0,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,"{'circuitId': 'albert_park', 'url': 'http://en...",2003-03-09,"[{'number': '1', 'position': '1', 'Driver': {'...",NaN
1,2003,2,http://en.wikipedia.org/wiki/2003_Malaysian_Gr...,Malaysian Grand Prix,"{'circuitId': 'sepang', 'url': 'http://en.wiki...",2003-03-23,"[{'number': '8', 'position': '1', 'Driver': {'...",NaN

In [72]:
f1_qual_hist['circuitId'] = f1_qual_hist['Circuit'].map(lambda x: json.loads(x.replace('\'', '\"'))['circuitId'])
f1_qual_hist = f1_qual_hist.drop(['Circuit'], axis='columns')
f1_qual_hist.head(2)

,season,round,url,raceName,date,QualifyingResults,time,circuitId
0,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,"[{'number': '1', 'position': '1', 'Driver': {'...",NaN,albert_park
1,2003,2,http://en.wikipedia.org/wiki/2003_Malaysian_Gr...,Malaysian Grand Prix,2003-03-23,"[{'number': '8', 'position': '1', 'Driver': {'...",NaN,sepang

In [73]:
type(f1_qual_hist['QualifyingResults'][0])

str

In [74]:
# convert_to_list(f1_qual_hist['QualifyingResults'][0])
f1_qual_hist['QualifyingResults'] =  f1_qual_hist['QualifyingResults'].map(convert_to_list)

# vertical explode
f1_qual_hist = f1_qual_hist.explode('QualifyingResults')
f1_qual_hist = f1_qual_hist.reset_index(drop=True)
f1_qual_hist.head()

,season,round,url,raceName,date,QualifyingResults,time,circuitId
0,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,"{'number': '1', 'position': '1', 'Driver': {'d...",NaN,albert_park
1,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,"{'number': '2', 'position': '2', 'Driver': {'d...",NaN,albert_park
2,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,"{'number': '3', 'position': '3', 'Driver': {'d...",NaN,albert_park
3,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,"{'number': '10', 'position': '4', 'Driver': {'...",NaN,albert_park
4,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,"{'number': '20', 'position': '5', 'Driver': {'...",NaN,albert_park

In [75]:
type(f1_qual_hist['QualifyingResults'][0])

dict

In [76]:
quali_explode = pd.json_normalize(f1_qual_hist['QualifyingResults'], sep='_')
quali_explode.shape

(8027, 17)

In [77]:
quali_explode.columns

Index(['number', 'position', 'Q1', 'Driver_driverId', 'Driver_code',
       'Driver_url', 'Driver_givenName', 'Driver_familyName',
       'Driver_dateOfBirth', 'Driver_nationality', 'Constructor_constructorId',
       'Constructor_url', 'Constructor_name', 'Constructor_nationality',
       'Driver_permanentNumber', 'Q2', 'Q3'],
      dtype='object')

In [78]:
quali_columns = [c for c in quali_explode.columns if not c.startswith(('Driver', 'Constructor')) or c.endswith('Id')]
# quali_columns
# quali_explode.head(300)

quali_explode = quali_explode[quali_columns]
quali_explode.head()

,number,position,Q1,Driver_driverId,Constructor_constructorId,Q2,Q3
0,1,1,1:27.173,michael_schumacher,ferrari,NaN,NaN
1,2,2,1:27.418,barrichello,ferrari,NaN,NaN
2,3,3,1:28.101,montoya,williams,NaN,NaN
3,10,4,1:28.274,frentzen,sauber,NaN,NaN
4,20,5,1:28.288,panis,toyota,NaN,NaN

In [79]:
f1_qual_hist = pd.concat([f1_qual_hist.reset_index(drop=True), quali_explode.reset_index(drop=True)], axis='columns')
f1_qual_hist = f1_qual_hist.drop(['QualifyingResults'], axis='columns')

In [80]:
f1_qual_hist.head(2)

,season,round,url,raceName,date,time,circuitId,number,position,Q1,Driver_driverId,Constructor_constructorId,Q2,Q3
0,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,NaN,albert_park,1,1,1:27.173,michael_schumacher,ferrari,NaN,NaN
1,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,NaN,albert_park,2,2,1:27.418,barrichello,ferrari,NaN,NaN

In [81]:
quali_explode[~quali_explode['Q3'].isna()]

,number,position,Q1,Driver_driverId,Constructor_constructorId,Q2,Q3
1056,5,1,1:33.310,michael_schumacher,ferrari,1:32.025,1:31.431
1057,6,2,1:33.579,massa,ferrari,1:32.014,1:31.478
1058,12,3,1:32.603,button,honda,1:32.025,1:31.549
1059,1,4,1:32.433,alonso,renault,1:31.215,1:31.702
1060,4,5,1:33.233,montoya,mclaren,1:31.487,1:32.164
...,...,...,...,...,...,...,...
8012,63,6,1:25.545,russell,mercedes,1:24.940,1:24.511
8013,4,7,1:25.387,norris,mclaren,1:24.903,1:24.769
8014,31,8,1:25.735,ocon,alpine,1:25.007,1:24.830
8015,5,9,1:25.523,vettel,aston_martin,1:24.974,1:24.961
8016,3,10,1:25.766,ricciardo,mclaren,1:25.068,1:25.045

In [82]:
f1_qual_hist.head(2)

,season,round,url,raceName,date,time,circuitId,number,position,Q1,Driver_driverId,Constructor_constructorId,Q2,Q3
0,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,NaN,albert_park,1,1,1:27.173,michael_schumacher,ferrari,NaN,NaN
1,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,NaN,albert_park,2,2,1:27.418,barrichello,ferrari,NaN,NaN

In [83]:
f1_qual_hist.dtypes

season                        int64
round                         int64
url                          object
raceName                     object
date                         object
time                         object
circuitId                    object
number                       object
position                     object
Q1                           object
Driver_driverId              object
Constructor_constructorId    object
Q2                           object
Q3                           object
dtype: object

In [84]:
# f1_qual_hist[(f1_qual_hist['season'] == 2022) & (f1_qual_hist['round'] == 1)]

In [85]:
f1_qual_hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8027 entries, 0 to 8026
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   season                     8027 non-null   int64
 1   round                      8027 non-null   int64
 2   url                        8027 non-null   object
 3   raceName                   8027 non-null   object
 4   date                       8027 non-null   object
 5   time                       7347 non-null   object
 6   circuitId                  8027 non-null   object
 7   number                     8027 non-null   object
 8   position                   8027 non-null   object
 9   Q1                         8027 non-null   object
 10  Driver_driverId            8027 non-null   object
 11  Constructor_constructorId  8027 non-null   object
 12  Q2                         5164 non-null   object
 13  Q3                         3181 non-null   object
dtypes: int64(2), object(12)
memory usage: 878.1+ KB

In [86]:
# f1_qual_hist[f1_qual_hist['time'].isna()]

In [87]:


f1_qual_hist['date'] = pd.to_datetime(f1_qual_hist['date'], infer_datetime_format=True)
f1_qual_hist['time'] = pd.to_datetime(f1_qual_hist['time'], format="%H:%M:%SZ").dt.time

# int_columns =  ['number', 'position']
# # df[int_columns] = pd.to_numeric(df[int_columns], errors='coerce').astype('Int64') # didnt work, only take series, list
# for c in int_columns:
#     f1_qual_hist[c] = pd.to_numeric(f1_qual_hist[c], errors='coerce').astype('Int64')

f1_qual_hist['number'] = pd.to_numeric(f1_qual_hist['number'], errors='coerce').astype('Int64')
f1_qual_hist['position'] = pd.to_numeric(f1_qual_hist['position'], errors='coerce').astype('Int64')

f1_qual_hist['Q1'] = pd.to_datetime(f1_qual_hist['Q1'], format='%M:%S.%f', errors='coerce').dt.time
f1_qual_hist['Q2'] = pd.to_datetime(f1_qual_hist['Q2'], format='%M:%S.%f', errors='coerce').dt.time
f1_qual_hist['Q3'] = pd.to_datetime(f1_qual_hist['Q3'], format='%M:%S.%f', errors='coerce').dt.time

# f1_qual_hist['FastestLap_AverageSpeed_speed'] = f1_qual_hist['FastestLap_AverageSpeed_speed'].astype('float')
# f1_qual_hist['points'] = f1_qual_hist['points'].astype('float')
# f1_qual_hist['Q1'] = pd.to_datetime(f1_qual_hist['Q1'], format="%M:%S.%f")

In [88]:
f1_qual_hist.head(4)

,season,round,url,raceName,date,time,circuitId,number,position,Q1,Driver_driverId,Constructor_constructorId,Q2,Q3
0,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,NaT,albert_park,1,1,00:01:27.173000,michael_schumacher,ferrari,NaT,NaT
1,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,NaT,albert_park,2,2,00:01:27.418000,barrichello,ferrari,NaT,NaT
2,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,NaT,albert_park,3,3,00:01:28.101000,montoya,williams,NaT,NaT
3,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,NaT,albert_park,10,4,00:01:28.274000,frentzen,sauber,NaT,NaT

In [89]:
# f1_qual_hist['Q1'] = pd.to_datetime(f1_qual_hist['Q1'], format='%M:%S.%f', errors='coerce').dt.time

In [90]:
# f1_qual_hist.dtypes

In [91]:
f1_qual_hist.head(4)

,season,round,url,raceName,date,time,circuitId,number,position,Q1,Driver_driverId,Constructor_constructorId,Q2,Q3
0,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,NaT,albert_park,1,1,00:01:27.173000,michael_schumacher,ferrari,NaT,NaT
1,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,NaT,albert_park,2,2,00:01:27.418000,barrichello,ferrari,NaT,NaT
2,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,NaT,albert_park,3,3,00:01:28.101000,montoya,williams,NaT,NaT
3,2003,1,http://en.wikipedia.org/wiki/2003_Australian_G...,Australian Grand Prix,2003-03-09,NaT,albert_park,10,4,00:01:28.274000,frentzen,sauber,NaT,NaT

In [92]:
f1_qual_hist.dtypes

season                                int64
round                                 int64
url                                  object
raceName                             object
date                         datetime64[ns]
time                                 object
circuitId                            object
number                                Int64
position                              Int64
Q1                                   object
Driver_driverId                      object
Constructor_constructorId            object
Q2                                   object
Q3                                   object
dtype: object

In [93]:
f1_qual_hist[~f1_qual_hist['Q3'].isna()].head()

,season,round,url,raceName,date,time,circuitId,number,position,Q1,Driver_driverId,Constructor_constructorId,Q2,Q3
1056,2006,1,http://en.wikipedia.org/wiki/2006_Bahrain_Gran...,Bahrain Grand Prix,2006-03-12,14:30:00,bahrain,5,1,00:01:33.310000,michael_schumacher,ferrari,00:01:32.025000,00:01:31.431000
1057,2006,1,http://en.wikipedia.org/wiki/2006_Bahrain_Gran...,Bahrain Grand Prix,2006-03-12,14:30:00,bahrain,6,2,00:01:33.579000,massa,ferrari,00:01:32.014000,00:01:31.478000
1058,2006,1,http://en.wikipedia.org/wiki/2006_Bahrain_Gran...,Bahrain Grand Prix,2006-03-12,14:30:00,bahrain,12,3,00:01:32.603000,button,honda,00:01:32.025000,00:01:31.549000
1059,2006,1,http://en.wikipedia.org/wiki/2006_Bahrain_Gran...,Bahrain Grand Prix,2006-03-12,14:30:00,bahrain,1,4,00:01:32.433000,alonso,renault,00:01:31.215000,00:01:31.702000
1060,2006,1,http://en.wikipedia.org/wiki/2006_Bahrain_Gran...,Bahrain Grand Prix,2006-03-12,14:30:00,bahrain,4,5,00:01:33.233000,montoya,mclaren,00:01:31.487000,00:01:32.164000

In [94]:
# f1_qual_hist.to_sql()